/* BEGINNING OF BODY */

body {
    background-color: #1b232b;
}

/* END OF BODY */
/* BEGINNING OF HEADER */

.headerbox {
    height: 300px;
    width: 90%;
    margin: auto;
    background-color: #6679a3;
    border-radius: 15px;
}

h1 {
    color: #c1cbe0;
    font-size: 100px;
    font-family: 'Henny Penny', cursive;
    text-align: center;
    padding: 60px;
}

h3 {
    font-weight: 200;
    margin: 0.4em 0;
    font-size: 3.5em; 
    font-family: 'Mountains of Christmas', cursive;
    text-align: center;
    padding: 30px;
}

/* END OF HEADER */

.questionbox {
    background-color: #93a2c3;
    height: 600px;
    width: 50%;
    margin: auto;
    border-radius: 15px;

}