/* BODY */

body {
    background-color:rgb(0,0,0);
    background-image:url('http://content.pimp-my-profile.com/ms/i73/8/5/23/f_f5464f7fd5.jpg');
    background-position:center center;
    background-repeat: repeat;
    background-attachment:fixed;
    cursor: url('https://cur.cursors-4u.net/holidays/hol-4/hol337.cur'), auto !important;
}


/* BEGINNING OF HEADER */

.headerbox {
    height: 250px;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    background-color: #000000;
    border: 5px solid #CE036C;
    border-radius: 15px;
}

h1 {
    color: #CE036C;
    display: inline-block;
    font-size: 110px;
    text-align: center;
    font-family: 'Special Elite', cursive;
}

.gifImage {
    display: inline-block;
    background-image: url('img/glitter-graphic.gif.crdownload');
    background-size: 150px 150px;
    margin: 50px;
    height: 150px;
    width: 150px;
}

h3 {
    color: #CE036C;
    font-weight: 200;
    font-size: 40px; 
    font-family: 'Special Elite', cursive;
    text-align: center;
}

/* END OF HEADER */

/* BEGINNING OF BODY */

.questionbox {
    background-color: #000000;
    height: 900px;
    width: 55%;
    margin: auto;
    border: 5px solid #CE036C;
    border-radius: 15px;
}

#textbox{
    border: solid 2px #CE036C;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
    margin-top: 20px;
}

button {
    background-color: #CE036C;
    border-color: #ffffff;
    border-radius: 15px;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    height: 50px;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#answers {
    background-color: #ffffff;
    border: solid 10px #CE036C;
    border-radius: 15px;
    height: 500px;
    width: 500px;
    margin: auto;
}

#playerQuestion {
    color: #CE036C;
    font-size: 40px;
    font-family: 'Special Elite', cursive;
    text-align: center;
    height: 0px;
}

audio {
    border: 10px solid #CE036C;
    background-color: #CE036C;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}