/* BODY */

body {
    background-image: url(http://content.pimp-my-profile.com/ms/i25/7/3/30/f_76fb69c2dd.jpg);
}


/* BEGINNING OF HEADER */

.headerbox {
    height: 300px;
    width: 90%;
    margin: auto;
    margin-top: 10%;
    background-color: #FFDDDD;
    border: 5px solid #FF2288;
    border-radius: 15px;
}

h1 {
    color: #000000;
    font-size: 100px;
    font-family: ;
    text-align: center;
}

h3 {
    font-weight: 200;
    font-size: 40px; 
    font-family: 'Mountains of Christmas', cursive;
    text-align: center;
    padding: 10px;
}

/* END OF HEADER */

/* BEGINNING OF BODY */

.questionbox {
    background-color: #ffdddd;
    height: 900px;
    width: 65%;
    margin: auto;
    border: 5px solid #FF2288;
    border-radius: 15px;
}

.textbox{
    border: solid 2px #1b232b;
    border-radius: 10px;
    margin-left: 25%;

}

button {
    background-color: #ffffff;
    border-radius: 15px;
    height: 50px;
    width: 30%;
    margin-left: 34%;
}


background-color:rgb(0,0,0);background-image:url(http://www.zingerbugimages.com/backgrounds/purple_stars.gif);background-position:top left;background-repeat:repeat;background-attachment:fixed;}
